# System Permissions from running echo -e "AIRFLOW_UID=$(id -u)" >> .env
AIRFLOW_UID=1000
AIRFLOW_GID=0

# PostgreSQL Database Configuration
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=your_project_name_db_airflow

# Airflow 3.x Engine Settings
AIRFLOW__CORE__FERNET_KEY=Hmr-kh4zHcHBIbPJHKQwxoXAy96uyPYU3aZ3K3eT5Z8=

# Airflow Initial Admin User Configuration
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# AWS Cloud Infrastructure Credentials
AWS_ACCESS_KEY_ID=aws_access_key_id_example
AWS_SECRET_ACCESS_KEY=aws_secret_access_key_example
AWS_DEFAULT_REGION=us-west-1

# Airflow S3 Storage Environment Targets
AWS_ACCOUNT_ID=123456789012
AWS_S3_BUCKET=your-project-name-aws-data-lake

# Explicit AWS Connection String URI
AIRFLOW_CONN_AWS_DEFAULT=aws://${AWS_ACCESS_KEY_ID}:${AWS_SECRET_ACCESS_KEY}@/?region_name=${AWS_DEFAULT_REGION}

# For API Access to LA City Open Data Portal
APP_TOKEN=app_token_from_https://data.lacity.org/profile/edit/developer_settings

# Airflow 3.x Task API Security Keys
AIRFLOW__API_AUTH__JWT_SECRET=super_secret_jwt_token_string_for_ladot
AIRFLOW__API_AUTH__JWT_ISSUER=airflow